#searchbar {
	display: flex;
	flex-direction: row;
	height: 40px;
	margin-left: 28px;
	margin-top: 10px;
	width: 55vw;
}

#searchbar input {
	width: 300px;
}

#searchbar button {
	background: #E9C46A;
	border-radius: 3px;
	height: 21px;
	margin-left: 15px;
	width: 60px;
}