article {
	background-color: #e9c46a;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	height: 500px;
	justify-content: space-between;
	margin: 30px;
	width: 385px;
}

article img {
	border-radius: 3px;
	height: 315px;
	width: inherit;
}

article a {
	background-color: #2a9d8f;
	border-radius: 3px;
	color: #ffffff;
	height: auto;
}
